TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [14]:
s1 = [1 , 2 ,3 , "sandy" , "table"]

In [18]:
s1.reverse()

In [19]:
s1

['table', 'sandy', 3, 2, 1]

2. Check if a string is a palindrome.

In [20]:
s = "sandhya"

In [21]:
def ispalindrome(s): return s == s[: : -1]

In [22]:
ispalindrome(s)

False

3. Convert a string to uppercase.

In [23]:
s

'sandhya'

In [24]:
s.upper()

'SANDHYA'

4. Convert a string to lowercase.

In [25]:
s

'sandhya'

In [26]:
s.lower()

'sandhya'

5. Count the number of vowels in a string.
6. Count the number of consonants in a string.

In [83]:
s = "sandhya: "

In [90]:
vowels = [each for each in s if each in "aeiouAEIOU"]
consonant = [each for each in s if each not in "aeiouAEIOU"]

In [85]:
print("number of consonants in s: " , len(consonant))

number of consonants in s:  7

In [91]:
print("number of vowels in s: " , len(vowels))

number of vowels in s:  2

7. Remove all whitespaces from a string.

In [120]:
a = "i love food"

In [127]:
nospaces = a.strip()

In [129]:
print(a)

i love food

In [130]:
a

'i love food'

In [143]:
def remove(a): return a.replace(" ","")

In [144]:
print(remove(a))

ilovefood

8. Find the length of a string without using the `len()` function.

In [4]:
s = "sandhya"
i = 0
for x in s :
    i+=1
print("the length of the s is "+ str(i))

the length of the s is 7

9. Check if a string contains a specific word.

In [8]:
a = "i am sandhya"

In [12]:
if "am" in str(a):
    print("found")
else:
    print("not found")

found

10. Replace a word in a string with another word.

In [13]:
s

'sandhya'

In [15]:
s.replace("d" , "x")

'sanxhya'

11. Count the occurrences of a word in a string.

In [16]:
s

'sandhya'

In [17]:
s.count("a")

2

12. Find the first occurrence of a word in a string.

In [18]:
s

'sandhya'

In [19]:
s.find(s)

0

13. Find the last occurrence of a word in a string.

In [20]:
s

'sandhya'

In [21]:
s.find(a)

-1

14. Split a string into a list of words.

In [28]:
x = "hello world, my name is sandhya, i am 26 year old"

In [34]:
a = x.split(", ")

In [35]:
print(a)

['hello world', 'my name is sandhya', 'i am 26 year old']

15. Join a list of words into a string.

In [36]:
l = ["1" , "2" , "3" , "sandy" , "cupboard"]

In [40]:
list(l)

['1', '2', '3', 'sandy', 'cupboard']

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [47]:
x

'hello world, my name is sandhya, i am 26 year old'

In [48]:
x.split()

['hello',
 'world,',
 'my',
 'name',
 'is',
 'sandhya,',
 'i',
 'am',
 '26',
 'year',
 'old']

17. Check if a string starts with a specific word or phrase.

In [49]:
x

'hello world, my name is sandhya, i am 26 year old'

In [50]:
a = x.startswith('hel')

In [51]:
print(a)

True

In [52]:
a = x.startswith('old')

In [53]:
print(a)

False

18. Check if a string ends with a specific word or phrase.

In [54]:
x

'hello world, my name is sandhya, i am 26 year old'

In [56]:
a = x.endswith('old')

In [57]:
print(a)

True

In [58]:
a = x.endswith('sandhya')

In [59]:
print(a)

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [60]:
x

'hello world, my name is sandhya, i am 26 year old'

In [61]:
x.title()

'Hello World, My Name Is Sandhya, I Am 26 Year Old'

20. Find the longest word in a string.

In [5]:
text = "hello world, my name is sandhya, i am 26 year old"

In [15]:
def find_longest_word(str):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        max_length = len(words[0])
        if len(word) > max_length:
            longest_word = word
    return longest_word

In [16]:
longest_word = find_longest_word(text)

In [17]:
print("longest_word:", longest_word)

longest_word: sandhya,

21. Find the shortest word in a string.

In [99]:
text = "hello world, my name is sandhya"

In [100]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        min_length = len(words[0])
        if len(word) < min_length:
            shortest_word = word
    return shortest_word

In [101]:
shortest_word = find_shortest_word(text)

In [102]:
print("shortest_word:", shortest_word)

shortest_word: is

22. Reverse the order of words in a string.

In [105]:
s = "hello world, my name is sandhya" [: :-1]

In [106]:
s

'ayhdnas si eman ym ,dlrow olleh'

23. Check if a string is alphanumeric.

In [107]:
x = "sandhya"

In [108]:
x.isalnum()

True

24. Extract all digits from a string.

In [3]:
inp_str = "sandhya123patil567"
print("original string: " + inp_str)
num = ""
for c in inp_str:
    if c.isdigit():
        num = num + c
print("extracted numbers from the list: " + num)

original string: sandhya123patil567
extracted numbers from the list: 123567

25. Extract all alphabets from a string.

In [4]:
string = input("enter a string: ")
only_alpha = ""
for char in string:
    if char.isalpha():
        only_alpha += char
print(only_alpha)

enter a string:  study3459hard97

studyhard

26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.

In [9]:
s = "Sandhya Patil"
lower=0
upper=0
for i in s:
    if(i.islower()):
        lower+=1
    else:
        upper+=1
print("the number of uppercase is:",upper)
print("the number of lowercase is:",lower)

the number of uppercase is: 3
the number of lowercase is: 10

28. Swap the case of each character in a string.

In [12]:
x = "i AM sANDHYA pATIL"
print(x.swapcase())

I am Sandhya Patil

29. Remove a specific word from a string.

In [19]:
w = "i love this country"
print(w.replace("this",""))

i love  country

30. Check if a string is a valid email address.

In [15]:
import re
def is_valid_email(email):
    pattern = r'[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "sandhya@email.com"
email2 = "tendulkar-s"
result1 =  is_valid_email(email1)
result2 =  is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [6]:
def extract_username(email):
    username = email.split('@')[0]
    return username
email = "sandhya@email.com"
result = extract_username(email)
print(result)

sandhya

32. Extract the domain name from an email address string.

In [17]:
def extract_domain(email):
    domain = email.split('@')[1]
    return domain
email = "kohli@email.com"
result = extract_domain(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.

In [19]:
def replace_multiple_spaces(x):
    str = ' '.join(x.split())
    return str
x = "   hi    folks!  welcome   "
result = replace_multiple_spaces(x)
print(result)

hi folks! welcome

34. Check if a string is a valid URL.

In [4]:
from urllib.parse import urlparse
def valid_url(x):
    try:
        result = urlparse(x)
        return all([result.scheme, result.netloc])
    except(ValueError):
        return False
x1 = "www.pwskills.com"
x2 = "https://www.pwskills.com"
result1 = valid_url(x1)
result2 = valid_url(x2)
print(result1)
print(result2)

False
True

35. Extract the protocol (http or https) from a URL string.

In [27]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.pwskills.com"
url2 = "http://www.index.com"
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)

Protocol 1: https
Protocol 2: http

36. Find the frequency of each character in a string.

In [11]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] =1
    return frequency
input_string = "hii folkss"
char_freq = character_frequency(input_string)
for char, freq in char_freq.items():
    print(f"character: '{char}', Frequency:{freq}")

character: 'h', Frequency:1
character: 'i', Frequency:2
character: ' ', Frequency:1
character: 'f', Frequency:1
character: 'o', Frequency:1
character: 'l', Frequency:1
character: 'k', Frequency:1
character: 's', Frequency:2

37. Remove all punctuation from a string.

In [20]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "hii! folkss, how's it going?"
cleaned_str = remove_punctuation(input_str)
print("original_string:",input_str)
print("cleaned_string:", cleaned_str)

original_string: hii! folkss, how's it going?
cleaned_string: hii folkss hows it going

38. Check if a string contains only digits.

In [3]:
def contains_only_digits(input_string):
    return input_string.isdigit()
x1 = "sandy34567"
x2 = "1567"
result1 = contains_only_digits(x1)
result2 = contains_only_digits(x2)
print(f"'{x1}' contains_only_digits:", result1)
print(f"'{x2}' contains_only_digits:", result2)

'sandy34567' contains_only_digits: False
'1567' contains_only_digits: True

39. Check if a string contains only alphabets.

In [4]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()
x1 = "sandy"
x2 = "1567"
result1 = contains_only_alphabets(x1)
result2 = contains_only_alphabets(x2)
print(f"'{x1}' contains_only_alphabets:", result1)
print(f"'{x2}' contains_only_alphabets:", result2)

'sandy' contains_only_alphabets: True
'1567' contains_only_alphabets: False

40. Convert a string to a list of characters.

In [2]:
x = "I am sandhya"
list(x)

['I', ' ', 'a', 'm', ' ', 's', 'a', 'n', 'd', 'h', 'y', 'a']

41. Check if two strings are anagrams.

In [4]:
def anagrams(x1,x2):
    x1 = x1.replace(" ","").lower()
    x2 = x2.replace(" ","").lower()
    return sorted(x1) == sorted(x2)
x1 = "earth"
x2 = "heart"
x3 = "reminder"
x4 = "calender"
result1 = anagrams(x1,x2)
result2 = anagrams(x3,x4)
print(f"'{x1}' and '{x2}' anagrams:", result1)
print(f"'{x3}' and '{x4}' anagrams:", result2)

'earth' and 'heart' anagrams: True
'reminder' and 'calender' anagrams: False

42. Encode a string using a Caesar cipher.

In [7]:
def Caesar_cipher(text, shift):
    """
    Args:
        text: The string to encode.
        shift: The number of positions to shift each letter.
    Returns:
        The encoded string.
    """

In [15]:
def encode(text,s):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
        else:
            result += chr((ord(char) + s-97) % 26 + 97)
    return result
text = "hii! my age is 26"
s = 4
print("Text:" + text)
print("Shift:" + str(s))
print("cipher:" + encode(text,s))

Text:hii! my age is 26
Shift:4
cipher:lmmsrqcrekirmwrjn

43. Decode a Caesar cipher encoded string.

In [26]:
def decode(text,s):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
        else:
            result += chr((ord(char) + s-97) % 26 + 97)
    return result
text = "debkhgo"
s = 4
print("Text:" + text)
print("Shift:" + str(s))
print("cipher:" + decode(text,s))

Text:debkhgo
Shift:4
cipher:hifolks

44. Find the most frequent word in a string.

In [16]:
from statistics import mode
test_list = ["hello world, hello peoples!"]
print("The original list is : " + str(test_list))

The original list is : ['hello world, hello peoples!']

In [18]:
temp = [wrd for sub in test_list for wrd in sub.split()]
res = mode(temp)
print("Word with maximum frequency : " + str(res))

Word with maximum frequency : hello

45. Find all unique words in a string.

In [21]:
def printWords(l):
    for i in l:
        print(i)
str = "hello world, hello peoples!"
s = set(str.split(" "))
printWords(s)

peoples!
hello
world,

46. Count the number of syllables in a string.

In [2]:
import re
def count_syllables(word):
    vowel_group = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_group)
word1 = "hi peoples"
syllables1 = count_syllables(word1)
print(f"'{word1}' has {syllables1} syllables.")

'hi peoples' has 3 syllables.

47. Check if a string contains any special characters.

In [5]:
import string
 
def check_string(s):
    for i in s:
        if i in string.punctuation:
            print("String is not accepted")
        return
    print("String is accepted")
check_string("$andhya patil")

String is not accepted

48. Remove the nth word from a string.

In [16]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n>=1 and n<=len(words):
        remove_word=words.pop(n-1)
        modified_string=' '.join(words)
        return modified_string, remove_word
    else:
        return None, None
input_string= "i love my india"
n_value= 3
modified_string, remove_word= remove_nth_word(input_string, n_value)
print("original_string:", input_string)
if modified_string is not None:
    print("modified_string:", modified_string)
else:
    print("removed_word:", removed_word)

original_string: i love my india
modified_string: i love india

49. Insert a word at the nth position in a string.

In [15]:
def insert_word_at_n(input_string, word_to_insert, n):
    words = input_string.split()
    if n>=0 and n<=len(words):
        words.insert(n, word_to_insert)
        modified_string=' '.join(words)
        return modified_string
    else:
        return None
input_string= "i love india"
word_to_insert= "my"
n_value= 2
modified_string=insert_word_at_n(input_string, word_to_insert, n_value)
print("original_string:", input_string)
if modified_string is not None:
    print("modified_string:", modified_string)
else:
    print("invalid n value")

original_string: i love india
modified_string: i love my india

50. Convert a CSV string to a list of lists.

In [25]:
test_list = ['[1, 4, 5]', '[4, 6, 8]']
print("The original list is : " + str(test_list))
res = [re.findall('[0-9]', i) for i in test_list]
print("The list after conversion is : " + str(res))

The original list is : ['[1, 4, 5]', '[4, 6, 8]']
The list after conversion is : [['1', '4', '5'], ['4', '6', '8']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [29]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:
x = "united states"
i = 0
for w in x :
    i += 1
print("the length of x is " + str(i))

the length of x is 13

3. Append an element to the end of a list.

In [2]:
my_list=[1,2,3,4]
new_element=5
my_list.append(new_element)
print("updated_list:", my_list)

updated_list: [1, 2, 3, 4, 5]

4. Insert an element at a specific index in a list.

In [4]:
my_list=[15,20,30,40]
new_element=45
index_to_insert=5
my_list.insert(index_to_insert, new_element)
print("updated_list:", my_list)

updated_list: [15, 20, 30, 40, 45]

5. Remove an element from a list by its value.

In [5]:
my_list=[15,20,30,40]
element_to_remove=30
my_list.remove(element_to_remove)
print("updated_list:", my_list)

updated_list: [15, 20, 40]

6. Remove an element from a list by its index.

In [9]:
my_list=[15,20,30,40]
index_to_remove=2
removed_element = my_list.pop(index_to_remove)
print("updated_list:", my_list)
print("removed_element:", removed_element)

updated_list: [15, 20, 40]
removed_element: 30

7. Check if an element exists in a list.

In [15]:
my_list=[15,20,30,40]
check_element=30
if check_element in my_list:
    print(f'{"check_element"} exist in list')
else:
    print(f'{"check_element"} not exist in list')

check_element exist in list

In [17]:
my_list=[15,20,30,40]
check_element=50
if check_element in my_list:
    print(f'{"check_element"} exist in list')
else:
    print(f'{"check_element"} not exist in list')

check_element not exist in list

8. Find the index of the first occurrence of an element in a list.

In [4]:
my_list=[15,20,30,40,50,60,80]
element_to_find= 60
index = my_list.index(element_to_find)
print(f'{"element_to_find"} is {index}')

element_to_find is 5

9. Count the occurrences of an element in a list.

In [7]:
my_list=[15,20,30,40,50,60,80]
element_to_find= 40
count = my_list.count(element_to_find)
print(f'{"element_to_find"} is {count}')

element_to_find is 1

10. Reverse the order of elements in a list.

In [8]:
my_list=[15,20,30,40,50,60,80]
my_list.reverse()

In [9]:
my_list

[80, 60, 50, 40, 30, 20, 15]

11. Sort a list in ascending order.

In [10]:
my_list=[15,40,30,90,50,60,80]
my_list.sort()

In [11]:
my_list

[15, 30, 40, 50, 60, 80, 90]

12. Sort a list in descending order.

In [12]:
my_list=[15,40,30,90,50,60,80]
my_list.sort(reverse=True)

In [13]:
my_list

[90, 80, 60, 50, 40, 30, 15]

13. Create a list of even numbers from 1 to 20.

In [16]:
list(range(2,22,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [20]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [27]:
my_list=[15,40,30,90,50,60,80]
addition = sum(my_list)
print("sum_of_elements:", addition)

sum_of_elements: 365

16. Find the maximum value in a list.
17. Find the minimum value in a list.

In [29]:
my_list=[15,40,30,90,100,60,80]
max_value = max(my_list)
print("Maximum_value:", max_value)

Maximum_value: 100

In [30]:
my_list=[15,40,30,90,100,60,80]
min_value = min(my_list)
print("Minimum_value:", min_value)

Minimum_value: 15

18. Create a list of squares of numbers from 1 to 10

In [37]:
squares = [x**2 for x in range(1,11)]
print("list_of_squares:", squares)

list_of_squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [38]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(1,100))
print(rand_list)

[39, 17, 85, 15, 30, 67, 98, 58, 82, 75]

20. Remove duplicates from a list.

In [41]:
my_list=[15,40,30,90,100,60,80,40,100,15]
unique_list = list(set(my_list))
print("remove_duplicates:", unique_list)

remove_duplicates: [100, 40, 15, 80, 90, 60, 30]

In [44]:
list1 = [12,34,56,89]
list2 = [24,56,78,79]
common_element = [element for element in list1 if element in list2]
print("Common_elements:", common_element)

Common_elements: [56]

21. Find the common elements between two lists.

In [46]:
list1 = [12,34,56,89]
list2 = [12,56,89]
difference = list(set(list1).difference(list2))
print("difference_bet_list:", difference)

difference_bet_list: [34]

23. Merge two lists.

In [47]:
list1 = [12,34,56,89]
list2 = [24,56,78,79]
merge_lists = list1 + list2

In [49]:
merge_lists

[12, 34, 56, 89, 24, 56, 78, 79]

24. Multiply all elements in a list by 2.

In [55]:
my_list= [10,20,30,40,50,60]
multiply_list = [x*2 for x in my_list]

In [56]:
print("multiplied_list:", multiply_list)

multiplied_list: [20, 40, 60, 80, 100, 120]

25. Filter out all even numbers from a list.

In [60]:
list = [24,56,78,79]
filtered_numbers = [x for x in list if x%2==0]
print("filtered_list(even numbers):", filtered_numbers)

filtered_list(even numbers): [24, 56, 78]

In [61]:
list = [24,56,78,79]
filtered_numbers = [x for x in list if x%2!=0]
print("filtered_list(odd numbers):", filtered_numbers)

filtered_list(odd numbers): [79]

26. Convert a list of strings to a list of integers.

In [65]:
my_list= ["10","20","30","40","50","60"]
integer_list = [int(x) for x in my_list]
print("integers_list:", integer_list)

integers_list: [10, 20, 30, 40, 50, 60]

27. Convert a list of integers to a list of strings.

In [66]:
integer_list= [10,20,30,40,50,60]
str_list=[str(x) for x in integer_list]
print("list_of_strings:", str_list)

list_of_strings: ['10', '20', '30', '40', '50', '60']

28. Flatten a nested list.

In [9]:
new_list=[15,40], [30,90,100], [60,80]
new_list = sum(new_list, [])
print(new_list)

[15, 40, 30, 90, 100, 60, 80]

29. Create a list of the first 10 Fibonacci numbers.
#Fn = Fn-1 + Fn-2
where,
n > 1
Fn-1 → nth Fibonacci number
Fn-2 → (n - 1)th Fibonacci number

In [13]:
def generate_fibonacci(n):
    fibonacci_list=[0,1]
    for i in range(2,n):
        next_fibonacci= fibonacci_list[i-1] + fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = generate_fibonacci(10)
print("first_10_fibonanacci_numbers:", fibonacci_numbers)

first_10_fibonanacci_numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [14]:
list = [1, 2, 3, 4, 5]
print(list == sorted(list))

True

31. Rotate a list to the left by `n` positions.

In [17]:
def rotate_left(list,n):
    n=n%len(list)
    rotated=list[n:]+list[:n]
    return rotated
my_list= [1,2,3,4,5]
n=2
rotated_list=rotate_left(my_list,n)
print("rotated_list:", rotated_list)

rotated_list: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [18]:
def rotate_right(list,n):
    n=n%len(list)
    rotated=list[-n:]+list[:-n]
    return rotated
my_list= [1,2,3,4,5]
n=2
rotated_list=rotate_right(my_list,n)
print("rotated_list:", rotated_list)

rotated_list: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [24]:
for num in range(2,51):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

34. Split a list into chunks of size `n`.

In [25]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
start = 0
end = len(my_list)
step = 3
for i in range(start, end, step):
    x = i
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [27]:
my_list=[15,40,30,90,100,60,80,40,100,15]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_longest= sorted_list[-2]
    print("second_longest_number:", second_longest)

second_longest_number: 90

36. Replace every element in a list with its square.

In [29]:
squares = [x**2 for x in (1,2,3,4,5)]
print("list_of_squares:", squares)

list_of_squares: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [31]:
my_list= ["india", "uk", "usa", "germany"]
my_dict= {element:index for index, element in enumerate(my_list)}
print("converted_dict:", my_dict)

converted_dict: {'india': 0, 'uk': 1, 'usa': 2, 'germany': 3}

38. Shuffle the elements of a list randomly.

In [2]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
random.shuffle(my_list)
print("Shuffled_list:", my_list)

Shuffled_list: [4, 6, 8, 9, 2, 1, 3, 7, 5]

39. Create a list of the first 10 factorial numbers.

In [5]:
def factorial(n):
    if n == 0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial_numbers=[factorial (i) for i in range(10)]
print("first 10 factorial numbers:", factorial_numbers)

first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [6]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
out = any(check in list1 for check in list2)
if out:
    print("True")
else :
    print("False")

True

41. Remove all elements from a list.

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7]
my_list.clear()
print("empty_list:", my_list)

empty_list: []

42. Replace negative numbers in a list with 0.

In [8]:
my_list = [1, -2, 3, -4, 5, -6, 7]
for i in range (len(my_list)):
    if my_list[i]<0:
        my_list[i]=0
print("replace_negative_numbers_with 0:", my_list)

replace_negative_numbers_with 0: [1, 0, 3, 0, 5, 0, 7]

43. Convert a string into a list of words.

In [9]:
my_string = "hii! world"
list= my_string.split()
print("list_of_words:", list)

list_of_words: ['hii!', 'world']

44. Convert a list of words into a string.

In [12]:
my_list = ['hii!', 'world']
str = "  ".join(my_list)
print("converted_string:", str)

converted_string: hii!  world

45. Create a list of the first `n` powers of 2.

In [14]:
n =5
power_list = [2**i for i in range(n)]
print("list of the first n powers of 2:", power_list)

list of the first n powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [16]:
list = ['apple', 'banana', 'watermelon', 'orange'] 
res = max(list, key=len) 
print("Longest String is  : ", res)

Longest String is  :  watermelon

47. Find the shortest string in a list of strings.

In [23]:
test_list = ['apple', 'banana', 'watermelon', 'date'] 
print("The original list : " , test_list)
shortest_string=test_list[0]
for s in test_list:
    if len(s)<len(shortest_string):
        shortest_string = s
print("shortest_string:", shortest_string)

The original list :  ['apple', 'banana', 'watermelon', 'date']
shortest_string: date

48. Create a list of the first `n` triangular numbers.

In [24]:
def triangular_numbers(n):
    return[i*(i+1)//2for i in range(1,n+1)]
n=5
triangular_list=triangular_numbers(n)
print("list of the first n triangular numbers:", triangular_list)

list of the first n triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [18]:
def is_subsequence(subsequence, main_list):
    subseq_index =0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_inex == len(subsequence):
                return True
        return False
main_list = [1,2,3,4,5,6,7,8,9,10]
subsequence = [3,4,5]
if is_subsequence(subsequence, main_list):
    print("main list contains subsequence")
else:
    print("main list does not contains subsequence")

main list does not contains subsequence

50. Swap two elements in a list by their indices.

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("swapping of the elements:", my_list)

swapping of the elements: [1, 4, 3, 2, 5, 6, 7]

Tuple Based Practice Problem :
1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple = (1, 2, 3, 4, 5)
for element in my_tuple:
    print(element)

1
2
3
4
5

2. Access the third element of a tuple.

In [4]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print("third element of a tuple:", third_element)

third element of a tuple: 3

3. Find the length of a tuple without using the `len()` function.

In [8]:
my_list = [1, 2, 3, 4, 5]
print("The list is : " + str(my_list))
counter = 0
for i in my_list:
    counter = counter + 1
print("Length of list using naive method is : " + str(counter))

The list is : [1, 2, 3, 4, 5]
Length of list using naive method is : 5

4. Count the occurrences of an element in a tuple.

In [10]:
my_tuple = ('a', 'a', 'c', 'b', 'd')
list = ['a', 'b']
count = sum([my_tuple.count(i) for i in list])
print(count)

3

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
my_tuple = ( 4, 2, 5, 6, 7, 5)
print(my_tuple.index(5))

2

6. Check if an element exists in a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in tuple")
else:
    print(f"{element_to_check} does not exists in tuple")

3 exists in tuple

7. Convert a tuple to a list.

In [2]:
t = (1, 2, 3)
l = list(t)
print(l)

[1, 2, 3]

8. Convert a list to a tuple.

In [4]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

9. Unpack the elements of a tuple into variables.

In [6]:
my_tuple = (1,2,3,4)
var1, var2, var3, var4 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)

var1: 1
var2: 2
var3: 3
var4: 4

10. Create a tuple of even numbers from 1 to 10.

In [15]:
even_numbers = []
even_numbers = list(range(2, 11, 2))
print("Even_numbers:", even_numbers)

Even_numbers: [2, 4, 6, 8, 10]

11. Create a tuple of odd numbers from 1 to 10.

In [16]:
odd_numbers = []
odd_numbers = list(range(1, 11, 2))
print("Odd_numbers:", odd_numbers)

Odd_numbers: [1, 3, 5, 7, 9]

12. Concatenate two tuples.

In [20]:
tuple1 = (10,20,30)
tuple2 = (40,50,60)
Concatenated_tuple = tuple1 + tuple2
print("Concatenated_tuple:", Concatenated_tuple)

Concatenated_tuple: (10, 20, 30, 40, 50, 60)

13. Repeat a tuple three times.

In [22]:
tuple = (4,5,6)
repeated_tuple = tuple *3
print("repeated_tuple:", repeated_tuple)

repeated_tuple: (4, 5, 6, 4, 5, 6, 4, 5, 6)

14. Check if a tuple is empty.

In [23]:
my_tuple=()
if not my_tuple:
    print ("my_tuple is empty")
else:
    print ("my_tuple is not empty")
print(my_tuple)

my_tuple is empty
()

15. Create a nested tuple.

In [24]:
nested_tuple = ((10,20,30), ("i", "am", "ok"), ("a", "b", "c"))
print("nested_tuple:", nested_tuple)

nested_tuple: ((10, 20, 30), ('i', 'am', 'ok'), ('a', 'b', 'c'))

16. Access the first element of a nested tuple.

In [25]:
nested_tuple = ((10,20,30), ("i", "am", "ok"), ("a", "b", "c"))
first_element = nested_tuple[0]
print("first_element:", first_element)

first_element: (10, 20, 30)

17. Create a tuple with a single element.

In [26]:
single_element= [24,]
print("single_element:", single_element)

single_element: [24]

18. Compare two tuples.

In [27]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)
print (tuple1 == tuple2)
print (tuple1 < tuple2)
print (tuple1 > tuple2)

False
True
False

19. Delete a tuple.

In [33]:
tuple1 = ("india", "uk", "usa")
del tuple1

In [57]:
print(tuple1)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [36]:
tuple = (10,20,30,40,50,60,70,80,90,100)
print(tuple[3:8])

(40, 50, 60, 70, 80)

21. Find the maximum value in a tuple.

In [37]:
tuple = (10,20,30,40,50,60,70,80,90,100)
max_value = max(tuple)
print("max_value:", max_value)

max_value: 100

22. Find the minimum value in a tuple.

In [38]:
tuple = (10,20,30,40,50,60,70,80,90,100)
min_value = min(tuple)
print("min_value:", min_value)

min_value: 10

23. Convert a string to a tuple of characters.

In [1]:
my_str = "hi, how are you?"
my_tuple = tuple(my_str)
print(my_tuple)

('h', 'i', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')

24. Convert a tuple of characters to a string.

In [6]:
my_tuple = ('h', 'i', ',', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')
my_str = ''.join(my_tuple)
print(my_str)

hi, how are you?

25. Create a tuple from multiple data types.

In [7]:
my_tuple = (234, "mixed", 345, "pickle")
print(my_tuple)

(234, 'mixed', 345, 'pickle')

26. Check if two tuples are identical.

In [8]:
tuple1 = (1,2,3)
tuple2 = ("a","e","u")
tuple3 = (1,2,3)
identical1 = tuple1 == tuple2
identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", identical1)
print("tuple1 and tuple3 are identical:", identical2)

tuple1 and tuple2 are identical: False
tuple1 and tuple3 are identical: True

27. Sort the elements of a tuple.

In [11]:
my_tuple = (101,645,278,948)
sorted_tuple = tuple(sorted(my_tuple))
print("sorted_tuple:", sorted_tuple)

sorted_tuple: (101, 278, 645, 948)

28. Convert a tuple of integers to a tuple of strings.

In [14]:
tuple_string = "(100, 200, 300, 400)"
int_tuple = []
for x in tuple_string[1:-1].split(","):
    int_tuple.append(int(x))
int_tuple = tuple(int_tuple)
print(int_tuple)

(100, 200, 300, 400)

29. Convert a tuple of strings to a tuple of integers.

In [15]:
tuple1 = ('1', '4', '3', '6', '7')
x=[int(i) for i in tuple1]
print(tuple(x))

(1, 4, 3, 6, 7)

30. Merge two tuples.

In [16]:
tuple1 = (10,20,30)
tuple2 = (40,50,60)
Merge_tuples = tuple1 + tuple2
print("Merge_tuples:", Merge_tuples)

Merge_tuples: (10, 20, 30, 40, 50, 60)

31. Flatten a nested tuple.

In [3]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((10,20), (55,45), (23,67))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("flattened_tuple", flattened_tuple)

flattened_tuple (10, 20, 55, 45, 23, 67)

32. Create a tuple of the first 5 prime numbers.

In [9]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5)+1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple= tuple(prime_numbers_list)
print("tuple of the first 5 prime numbers:", prime_numbers_tuple)

tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [4]:
def reverse(tuple):
    return tuple[::-1]
def is_palindrome(tuple):
    return tuple == reverse(tuple)
something = input("Enter tuple: ")
if is_palindrome(something):
    print("Yes, it is a palindrome")
else:
    print("No, it is not palindrome")

Enter tuple:  (1,2,3,2,1)

No, it is not palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [8]:
squares_tuple = tuple(x ** 2 for x in range(1,6))
print("tuple_of_squares:", squares_tuple)

tuple_of_squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [10]:
original_tuple= (1,2,3,4,5,6,7,8,9,10)
filtered_tuple=tuple(num for num in original_tuple if num %2 !=0)
print("filtered_tuple:", filtered_tuple)

filtered_tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2

In [11]:
original_tuple= (1,2,3,4,5)
doubled_tuple = tuple(num*2 for num in original_tuple)
print("doubled_tuple:", doubled_tuple)

doubled_tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [17]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("random tuple:", random_tuple)

random tuple: (40, 49, 96, 66, 35, 25, 22, 93, 100, 97)

38. Check if a tuple is sorted.

In [18]:
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t = (1, 2, 3, 4, 5)
print(is_tuple_sorted(t))

True

39. Rotate a tuple to the left by `n` positions.

In [2]:
def rotate_left(tup, n):
    n = n%len(tup)
    rotated_tuple= tup[n:]+tup[:n]
    return rotated_tuple
my_tuple = (1,2,3,4)
n_position = 2
result= rotate_left(my_tuple, n_position)
print(result)

(3, 4, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [6]:
def rotate_right(tup, n):
    n = n%len(tup)
    rotated_tuple= tup[-n:]+tup[:-n]
    return rotated_tuple
my_tuple = (1,2,3,4,5)
n_position = 2
result= rotate_right(my_tuple, n_position)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [35]:
n1, n2 = 0, 1
count = 0
print("Fibonacci sequence:")
while count < 5:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

Fibonacci sequence:
0
1
1
2
3

42. Create a tuple from user input

In [36]:
tup = tuple(input("enter tuple"))
print(tup)

enter tuple sandy

('s', 'a', 'n', 'd', 'y')

43. Swap two elements in a tuple

In [41]:
a,b = (1,2)
a,b = b,a

In [42]:
a,b

(2, 1)

44. Reverse the elements of a tuple.

In [49]:
n = (1,2,3,4)
reversed_tuple = n[::-1]
print("reversed_tuple:", reversed_tuple)

reversed_tuple: (4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [55]:
x = [1, 2, 3, 4]
def power(n):
    return n * n
list(map(power, x))

[1, 4, 9, 16]

46. Find the longest string in a tuple of strings.

In [56]:
list = ['apple', 'banana', 'watermelon', 'orange'] 
res = max(list, key=len) 
print("Longest String is  : ", res)

Longest String is  :  watermelon

47. Find the shortest string in a tuple of strings.

In [58]:
test_list = ['apple', 'banana', 'watermelon', 'date'] 
print("The original list : " , test_list)
shortest_string=test_list[0]
for s in test_list:
    if len(s)<len(shortest_string):
        shortest_string = s
print("shortest_string:", shortest_string)

The original list :  ['apple', 'banana', 'watermelon', 'date']
shortest_string: date

48. Create a tuple of the first `n` triangular numbers.

In [59]:
def triangular_numbers(n):
    return[i*(i+1)//2for i in range(1,n+1)]
n=5
triangular_list=triangular_numbers(n)
print("list of the first n triangular numbers:", triangular_list)

list of the first n triangular numbers: [1, 3, 6, 10, 15]

49. Check if a tuple contains another tuple as a subsequence.

In [61]:
def is_subsequence(subsequence, main_tuple):
    subseq_index =0
    for element in main_tuple:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_inex == len(subsequence):
                return True
        return False
main_tuple = [1,2,3,4,5,6,7,8,9,10]
subsequence = [3,4,5]
if is_subsequence(subsequence, main_tuple):
    print("main tuple contains subsequence")
else:
    print("main tuple does not contains subsequence")

main tuple does not contains subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [64]:
x =10
alternating_tuple = tuple(i%2for i in range(n))
print("tuple of alternating 1s and 0s:", alternating_tuple)

tuple of alternating 1s and 0s: (0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [66]:
x=set()
x.add(1)
x.add(2)
x.add(3)
x.add(4)
x.add(5)
print(x)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [1]:
prime_numbers = {2, 3, 5, 7}
prime_numbers.add(11)
print(prime_numbers)

{2, 3, 5, 7, 11}

3. Remove an element from a set.

In [2]:
fruits = {"apple", "pineapple", "cherry"}
fruits.remove("pineapple")
print(fruits)

{'apple', 'cherry'}

4. Check if an element exists in a set.

In [3]:
set = {"apple", "banana", "cherry"}
if "apple" in set:
  print("Yes, 'apple' is in this set")

Yes, 'apple' is in this set

5. Find the length of a set without using the `len()` function.

In [5]:
s = "sandhya"
i = 0
for x in s :
    i+=1
print("the length of the s is "+ str(i))

the length of the s is 7

6. Clear all elements from a set

In [6]:
set_numbers = {2, 5, 8, 9, 4}
print(set_numbers)
set_numbers.clear()
print(set_numbers)

{2, 4, 5, 8, 9}
set()

7. Create a set of even numbers from 1 to 10.

In [7]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

8. Create a set of odd numbers from 1 to 10

In [8]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

9. Find the union of two sets.

In [9]:
s1 = {'sandhya', 'Jadhav'}
s2 = {'patil', 'khanapurkar'}
s = s1.union(s2)
print(s)

{'Jadhav', 'khanapurkar', 'patil', 'sandhya'}

10. Find the intersection of two sets.

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3}
print(s1.intersection(s2))

{2, 3}

11. Find the difference between two sets.

In [11]:
s1 = {1, 2, 3}
s2 = {2, 3}
print(s1.difference(s2))

{1}

12. Check if a set is a subset of another set.

A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.issubset(B))

13. Check if a set is a superset of another set.

In [13]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.issuperset(B))

False

14. Create a set from a list.

In [20]:
sample_list = ["sandhya", "patil"]
print(sample_list)

['sandhya', 'patil']

15. Convert a set to a list.

In [25]:
sample_set = {10, 20, 30, 40}
l = []
for i in sample_set:
    l.append(i)
print(l)

[40, 10, 20, 30]

16. Remove a random element from a set.

In [32]:
mySet = {10, 20, 30, 40, 50, 60}
print("The input set is:", mySet)
element = mySet.pop()
print("The output set is:", mySet)
print("The popped element is:", element)

The input set is: {50, 20, 40, 10, 60, 30}
The output set is: {20, 40, 10, 60, 30}
The popped element is: 50

17. Pop an element from a set.

In [33]:
fruits = {"juice", "banana", "rassam"}
fruits.pop()
print(fruits)

{'rassam', 'banana'}

18. Check if two sets have no elements in common.

In [40]:
s1 = {1, 2, 3}
s2 = {5, 6, 7}
common_elements= s1.intersection(s2)
if not common_elements:
    print("two sets have no common elements")
else:
    print("two sets have common elements:", common_elements)

two sets have no common elements

19. Find the symmetric difference between two sets.

In [41]:
A = {1, 2, 3, 4, 5}
B = {6, 7, 3, 9, 4}
print(A.symmetric_difference(B))

{1, 2, 5, 6, 7, 9}

20. Update a set with elements from another set.

In [42]:
A = {'a', 'b'}
B = {1, 2, 3}
A.update(B)
print(A)

{1, 2, 3, 'b', 'a'}

21. Create a set of the first 5 prime numbers.

In [55]:
def isprime(n): 
   if n<=1: 
      return False 
   for i in range(2,n): 
      if n%i==0: 
        return False 
   return True 
 
N = int(input()) 
for i in range(N+1): 
   if isprime(i): 
       print(i)

 11

2
3
5
7
11

22. Check if two sets are identical.

In [56]:
name= {1,2,3,4,5}
points= {1,2,3,4,5}
print(name==points)

True

23. Create a frozen set.

In [59]:
numbers = [1,2,3,4,5]
fSet = frozenset(numbers)
print('The frozen set is:', fSet)

The frozen set is: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [64]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}
print(s1.isdisjoint(s2))

True

25. Create a set of squares of numbers from 1 to 5.

In [65]:
sample_list = [1,2,3,4,5]
result = [number ** 2 for number in sample_list]
print(result)

[1, 4, 9, 16, 25]

26. Filter out all even numbers from a set.

In [67]:
set = [10, 22, 4, 49, 66, 11]
for num in set:
    if num % 2 == 0:
        print(num, end=" ")

10 22 4 66

27. Multiply all elements in a set by 2.

In [ ]:
my_list= [10,20,30,40,50,60]
multiply_list = [x*2 for x in my_list]
print("multiplied_list:", multiply_list)

multiplied_list: [20, 40, 60, 80, 100, 120]

28. Create a set of random numbers.

In [88]:
import random
print("Random numbers between 0 and 9: ")
for i in range(1, 10):
     y = random.randrange(9)
print(y)

Random numbers between 0 and 9:
2

29. Check if a set is empty.

In [89]:
MySet = {}
if not MySet:
    print ("set is empty")
else:
    print ("set is not empty")

set is empty

30. Create a nested set (hint: use frozenset).

In [92]:
s1= {1,2,3,4}
s2= {5,6,7,8}
frozen_set1 = frozenset(s1)
frozen_set2 = frozenset(s2)
nested_set = frozen_set1, frozen_set2
print("nested_set:", nested_set)

nested_set: (frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7}))

31. Remove an element from a set using the discard method.

In [99]:
fruits = {"cherry", "banana", "orange"}
fruits.discard("banana")
print(fruits)

{'orange', 'cherry'}

32. Compare two sets.

In [100]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 4}
print(s1.difference(s2))

{1}

33. Create a set from a string.

In [1]:
input_string ="hello"
char_set = set(input_string)
print(char_set)

{'l', 'o', 'e', 'h'}

34. Convert a set of strings to a set of integers.

In [4]:
list = ['123', '-445', '335', '-656', '789']
res = [eval(i) for i in list]
print("Modified list is: ", res)

Modified list is:  [123, -445, 335, -656, 789]

35. Convert a set of integers to a set of strings.

In [2]:
list_int = [1, 11, 13, 41, 131]
list_string = map(str, list_int)
print(list(list_string))

['1', '11', '13', '41', '131']

36. Create a set from a tuple.

In [4]:
my_tuple = (1, 2, 3)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3}

37. Convert a set to a tuple.

In [6]:
my_set = {1, 2, 3}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3)

38. Find the maximum value in a set.

In [9]:
my_set=[15,40,30,90,100,60,80]
max_value = max(my_set)
print("Maximum_value:", max_value)

Maximum_value: 100

39. Find the minimum value in a set.

In [10]:
my_set=[15,40,30,90,100,60,80]
min_value = min(my_set)
print("Minimum_value:", min_value)

Minimum_value: 15

40. Create a set from user input.

In [16]:
x = input('some text : ')
x = {a for a in x.split(",")}
print(x)

some text :  sandhya jadhav patil

{'sandhya jadhav patil'}

41. Check if the intersection of two sets is empty.

In [1]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_set = set1.intersection(set2)
if not intersection_set:
    print("intersection of two sets empty")
else:
    print("intersection of two sets is not empty")

intersection of two sets is not empty

42. Create a set of the first 5 Fibonacci numbers.

In [7]:
def generate_fibonacci(n):
    fibonacci_list=[0,1]
    for i in range(2,n):
        next_fibonacci= fibonacci_list[i-1] + fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = generate_fibonacci(5)
print("first_5_fibonanacci_numbers:", fibonacci_numbers)

first_5_fibonanacci_numbers: [0, 1, 1, 2, 3]

43. Remove duplicates from a list using sets.

In [9]:
students = ['sandhya', 'patil', 'pw', 'skills', 'python']
del students[1]
print(students)

['sandhya', 'pw', 'skills', 'python']

44. Check if two sets have the same elements, regardless of their count.

In [12]:
myset1 = {10,90,53,56}
myset2 = {43,56,12}
myset3 = {43,56,12}
print("Set 1: ",myset1)
print("Set 2: ",myset2)
print("Set 3: ",myset3)
print("Set1 and Set2 equal? ",myset1 == myset2)
print("Set1 and Set3 equal? ",myset1 == myset3)
print("Set2 and Set3 equal? ",myset2 == myset3)

Set 1:  {56, 10, 90, 53}
Set 2:  {56, 43, 12}
Set 3:  {56, 43, 12}
Set1 and Set2 equal?  False
Set1 and Set3 equal?  False
Set2 and Set3 equal?  True

45. Create a set of the first `n` powers of 2.

In [13]:
n =10
power_list = [2**i for i in range(n)]
print("list of the first n powers of 2:", power_list)

list of the first n powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the common elements between a set and a list.

In [16]:
s1 = {1, 2, 3}
s2 = {5, 2, 7}
common_elements= s1.intersection(s2)
if not common_elements:
    print("two sets have no common elements")
else:
    print("two sets have common elements:", common_elements)

two sets have common elements: {2}

47. Create a set of the first `n` triangular numbers.

In [17]:
def triangular_numbers(n):
    return[i*(i+1)//2for i in range(1,n+1)]
n=5
triangular_set=triangular_numbers(n)
print("list of the first n triangular numbers:", triangular_set)

list of the first n triangular numbers: [1, 3, 6, 10, 15]

48. Check if a set contains another set as a subset.

In [18]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
print(A.issubset(B))

True

49. Create a set of alternating 1s and 0s of length `n`.

In [19]:
x =10
alternating_set = set(i%2for i in range(n))
print("set of alternating 1s and 0s:", alternating_set)

set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [20]:
set1 = (10,20,30)
set2 = (40,50,60)
set3 = (60,40,70)
Merge_sets = set1 + set2 + set3
print("Merge_sets:", Merge_sets)

Merge_sets: (10, 20, 30, 40, 50, 60, 60, 40, 70)